version: '3.8'
services:
  web:
    build: .
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql+asyncpg://postgres:postgres@217.76.176.93/test_db
      - DATABASE_URL_LAB2=postgresql://postgres:postgres@217.76.176.93/test_db